<header>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <a *ngIf="!logged" traverseTo="@@login" class="pull-right">Login</a>
        <a *ngIf="logged" (click)="logout()" class="pull-right">Logout</a>
      </div>
    </div>
    <div class="row">
      <app-global-navigation></app-global-navigation>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <plone-breadcrumbs></plone-breadcrumbs>
    </div>
  </div>
</header>
<main>
  <div class="container-fluid">
    <div class="row">
      <traverser-outlet></traverser-outlet>
    </div>
  </div>
</main>
